<!-- <nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/" routerLink="/home"  routerLinkActive="active">FullStack Toolbox</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"  routerLink="addapi"  routerLinkActive="active">Add Api</a>
      <a class="nav-item nav-link"  routerLink="findapi"  routerLinkActive="active">Find Api</a>
      <a class="nav-item nav-link"  routerLink="about"  routerLinkActive="active">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div> 
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"  routerLinkActive="active">FullStack Toolbox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/findapi"  routerLinkActive="active">Find Api<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addapi"  routerLinkActive="active">Add Api</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"  routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>